* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5efe9;
  font-family: Arial, sans-serif;
  color: #333;
}

h1 {
  text-align: center;
  margin: 40px 0;
  font-family: Georgia, serif;
  font-size: 2.5rem;
}

.card-list {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: 0.3s;
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.card h2 {
  font-family: Georgia, serif;
  font-size: 1.4rem;
  margin: 15px;
}

.card p {
  margin: 0 15px 20px;
  color: #666;
}

.filter {
  width: 80%;
  margin: 0 auto 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.filter p {
  font-family: Georgia, serif;
  font-size: 1.2rem;
}

.filter input {
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 1rem;
  width: 220px;
  transition: 0.2s;
}


nav a:hover {
  text-decoration: underline;
}


nav {
  display: flex;
  justify-content: center;  
  align-items: center;      
  gap: 30px;                
  background-color: #333;
  padding: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;       
  font-weight: bold;
}

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;     
  justify-content: center; 
  min-height: 80vh;
  gap: 20px;                
  text-align: center;
}

.post-container img {
  max-width: 300px;
  height: auto;
}

.card {
  position: relative;
  z-index: 1;
}

.card img {
  pointer-events: none;
}

.form {
  width: 350px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Arial, sans-serif;
}

.form label {
  font-size: 1.2rem;   /* más grande que inputs */
  font-weight: bold;   /* negritas */
}

.form input,
.form textarea {
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;   
  font-family: inherit; /
}

.form textarea {
  min-height: 120px;
  resize: none;
}

.form button {
  padding: 14px;
  background: #333;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-family: inherit;
  cursor: pointer;
}

.form button:hover {
  background: #555;
}

.login {
  width: 350px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Arial, sans-serif;
}

.login h1 {
  text-align: center;
}

.login label {
  font-size: 1.2rem;
  font-weight: bold;
}

.login input {
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
  font-family: inherit;
}

.login .submit {
  background: #333;
  color: white;
  cursor: pointer;
}

.login .submit:hover {
  background: #555;
}