--
-- PostgreSQL database dump
--

\restrict VInEiZj5tNhTXbh4f6gSbIQhx8eGyp5A9tWqFgZnP3qvaO8cZvqd2qh6Dxb5KDP

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: author; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.author (
    id_author integer NOT NULL,
    name character varying,
    last_name character varying,
    date_of_birth date,
    email character varying,
    phone_number character varying,
    username character varying,
    password character varying
);


--
-- Name: author_id_author_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.author ALTER COLUMN id_author ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.author_id_author_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: post; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.post (
    id_post integer NOT NULL,
    title character varying,
    image character varying,
    text text,
    id_author integer
);


--
-- Name: post_id_post_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.post ALTER COLUMN id_post ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.post_id_post_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: session; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.session (
    sid character varying NOT NULL,
    sess json NOT NULL,
    expire timestamp(6) without time zone NOT NULL
);


--
-- Data for Name: author; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.author VALUES (1, 'Karla', 'Valencia', '2005-03-10', 'karladelacruzvale@gmail.com', '9221050547', 'KarlaCValencia', '12345');
INSERT INTO public.author VALUES (2, 'Andrea', 'Valencia', '2003-02-08', 'andycvalencia', '9222000281', 'AndreaDLC', '54321');


--
-- Data for Name: post; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.post VALUES (1, 'Agosto', 'Agosto.jpeg', 'Regreso a Puebla', 1);
INSERT INTO public.post VALUES (2, 'Septiembre', 'Septiembre.jpeg', 'Cosas nuevas', 1);
INSERT INTO public.post VALUES (3, 'Octubre', 'Octubre.jpeg', 'Muy variado para un titulo descriptivo', 1);


--
-- Data for Name: session; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: author_id_author_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.author_id_author_seq', 2, true);


--
-- Name: post_id_post_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.post_id_post_seq', 13, true);


--
-- Name: author author_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.author
    ADD CONSTRAINT author_pkey PRIMARY KEY (id_author);


--
-- Name: post post_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.post
    ADD CONSTRAINT post_pkey PRIMARY KEY (id_post);


--
-- Name: session session_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.session
    ADD CONSTRAINT session_pkey PRIMARY KEY (sid);


--
-- Name: idx_session_expire; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_session_expire ON public.session USING btree (expire);


--
-- Name: post fk_post_author; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.post
    ADD CONSTRAINT fk_post_author FOREIGN KEY (id_author) REFERENCES public.author(id_author);


--
-- PostgreSQL database dump complete
--

\unrestrict VInEiZj5tNhTXbh4f6gSbIQhx8eGyp5A9tWqFgZnP3qvaO8cZvqd2qh6Dxb5KDP

